apiVersion: apps/v1
kind: Deployment

metadata:
  name: qbittorrent
  namespace: media

spec:
  replicas: 1

  selector:
    matchLabels:
      app: qbittorrent

  template:
    metadata:
      labels:
        app: qbittorrent

    spec:
      containers:
        - name: qbittorrent

          image: {{ qbittorrent_image }}

          env:
            - name: PUID
              value: "{{ qbittorrent_puid | string }}"

            - name: PGID
              value: "{{ qbittorrent_pgid | string }}"

            - name: TZ
              value: "{{ qbittorrent_timezone }}"

            - name: WEBUI_PORT
              value: "{{ qbittorrent_webui_port | string }}"

          ports:
            {% for port in qbittorrent_container_ports %}
                  - containerPort: {{ port.containerPort }}
            {% if port.protocol is defined %}
                    protocol: {{ port.protocol }}
            {% endif %}
            {% endfor %}

          volumeMounts:
            - name: config
              mountPath: /config

            - name: downloads
              mountPath: /downloads

      volumes:
        - name: config
          hostPath:
            path: {{ qbittorrent_config_path}}
            type: DirectoryOrCreate

        - name: downloads
          hostPath:
            path: {{ qbittorrent_download_path }}
            type: Directory